# R3CLI v0.4.1
r3-cli @ https://github.com/R3Neer/R3CLI/archive/v0.4.1.zip
# R3 Markdown Export v0.1.1
r3-markdown-export @ https://github.com/R3Neer/markdown-export/archive/v0.1.1.zip
PyYAML>=6.0.3,<7
